<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>

    <p>reee</p>

    <button onclick="getData()">Yeet</button>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/test.js"></script>
</body>

</html>
